.card {
    background-color: #031a2c15;
    // border-radius: 25px;
    // border: 2px solid #011627;
    // padding: 10vw;
}

.text-responsive-institution {
    font-size: calc(40% + 1vw + 1vh);
}

.text-responsive-title {
    font-size: calc(30% + 1vw + 1vh);
}

.text-responsive-general {
    font-size: calc(8% + 1vw + 1vh);
    
}

@media (min-width: 992px) {
    .text-responsive-institution {
        font-size: 26px;
    }
    .text-responsive-title {
        font-size: 22px;
    }
    .text-responsive-general {
        font-size: 18px;
    }
}


.card-img {
    // width: 300px;
    // border-radius: 25px;
    margin-bottom: 5vw;
    // border: 2px solid #011627;
}

// @media (max-width: 1050px) {
//     .card {
//         width: 100%;
//         margin: 0 !important;
//     }
//     .card-img {
//         width: 100%;
//     }
// }

@media (min-width: 720px) {
    .row {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .img-fluid{
        width: 90%;
    }
    .card-img {
        width: 170px;
    }
}


