.content {
  margin: 0;
  text-align: center;
}

#c {
  margin: 0;
}

.header {
  text-align: center;
  width: 100%;
  margin: 0;
  height: 25px;
}

.pentagon {
  // width: 100%;
  // height: auto;
  margin: 0;
  padding: 3px 3px 0px 3px;
  display: inline-block;
}


.checked {
    color: orange;
}

.star-skills {
  font-size: calc(40% + 1vw + 1vh);;
  margin-top: 5vw;
}