<div class="row">
  <div class="content"></div>
</div>

<div class="row">
  <div class="row text-center">
    <div class="col text-center">
      <div class="row">
        <div class="col-sm-2">HTML</div>
        <div class="col">
          <a class="fa fa-star checked"></a>
          <a class="fa fa-star checked"></a>
          <a class="fa fa-star checked"></a>
          <a class="fa fa-star"></a>
          <a class="fa fa-star"></a>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">HTML</div>
        <div class="col">
          <a class="fa fa-star checked"></a>
          <a class="fa fa-star checked"></a>
          <a class="fa fa-star checked"></a>
          <a class="fa fa-star"></a>
          <a class="fa fa-star"></a>
        </div>
      </div>
    </div>
    <div class="col text-center">
      <div class="row">
        <div class="col-sm-2">CSS</div>
        <div class="col">
          <a class="fa fa-star checked"></a>
          <a class="fa fa-star checked"></a>
          <a class="fa fa-star checked"></a>
          <a class="fa fa-star"></a>
          <a class="fa fa-star"></a>
        </div>
      </div>
    </div>
  </div>
</div>
