.content {
  margin: auto;
  text-align: center;
}

#c {
  margin: auto;
}

.header {
  text-align: center;
  width: 100%;
  margin: auto;
  height: 25px;
}

.pentagon {
  width: 260px;
  height: 260px;
  margin: auto;
  padding: 3px 3px 28px 3px;
  display: inline-block;
}


.checked {
    color: orange;
}

.star-skills {
  font-size: 20px;
  margin: 10px;
}