<app-navbar></app-navbar>
<div class="view jarallax main-container" style="height: 100vh;">
  <img class="jarallax-img" src="../assets/images/main_photo2.jpg" />
  <div>
    <h2>Interactive Resume</h2>
    <h1 data-text="Gabriel Madeira">Gabriel Madeira</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="col text-center section-title">ABOUT</div>
  <div class="col text-center about-span">
    <span>Hey, I'm Gabriel,</span>
    <span style="color: #2d80c4;">Computer Science Student 💻</span>
    <span>@ Federal University of Rio Grande do Sul 🏛</span>
    <span>located in Porto Alegre - RS 🇧🇷</span>
    <a href="#" class="fa fa-download">
      <span style="font-size: 14px; display: inline;"> Resume</span></a
    >
    <a
      href="https://www.linkedin.com/in/gabriel-madeira"
      target="_blank"
      class="fa fa-linkedin"
    ></a>
    <a
      href="https://www.instagram.com/gabr.madeira"
      target="_blank"
      class="fa fa-instagram"
    ></a>
    <a
      href="mailto:gabr.madeira@gmail.com"
      target="_blank"
      class="fa fa-envelope"
    ></a>
  </div>
</div>

<div class="container-fluid container-var">
  <div class="col text-center section-title">EXPERIENCES</div>
  <app-card></app-card>
</div>

<div class="container-fluid">
  <div class="col text-center section-title">SKILLS</div>
  <div class="row text-center">
    <div class="col text-center">
      <div class="row">
        <div class="col-sm-2">HTML</div>
        <div class="col">
          <a class="fa fa-star checked"></a>
          <a class="fa fa-star checked"></a>
          <a class="fa fa-star checked"></a>
          <a class="fa fa-star"></a>
          <a class="fa fa-star"></a>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">HTML</div>
        <div class="col">
          <a class="fa fa-star checked"></a>
          <a class="fa fa-star checked"></a>
          <a class="fa fa-star checked"></a>
          <a class="fa fa-star"></a>
          <a class="fa fa-star"></a>
        </div>
      </div>
      
    </div>
    <div class="col text-center">
      
      <div class="row">
        <div class="col-sm-2">CSS</div>
        <div class="col">
          <a class="fa fa-star checked"></a>
          <a class="fa fa-star checked"></a>
          <a class="fa fa-star checked"></a>
          <a class="fa fa-star"></a>
          <a class="fa fa-star"></a>
        </div>
      </div>
    </div>
  </div>
</div>
