.main-container {
    width: 100%;
    // text-align: center;
    // background-color: #1a1d22;
    // height: 30vh;
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F4F6F7;

    background: linear-gradient(-45deg,#374040, #2a3439, #384048, #2a343c, #1b2328);
	background-size: 400% 400%;
	animation: gradientBG 5s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%) infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main-container h1 {
    flex: 0 0 120px;
    font-family: 'Courier New', monospace;
    font-size: 35px;
    color: #E4E5E6; 
    position: relative;
    margin-bottom: 0.2rem;
    background: linear-gradient(to right, #F4F6F7,#F4F6F7,#F4F6F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-container h2 {
    color: #E4E5E6;
    flex: 0 0 120px;
    font-size: 30px;
    font-family: 'Courier New', monospace;
}

.main-icon {
    color: #E4E5E6;
    width: 45px;
    height: 45px;
}

.main-icon path {
    fill: #E4E5E6;
}

@media (max-width: 992px) {
    .main-container h2 {
        font-size: 4vw !important;
    }
    .main-container h1 {
        font-size: 5vw !important;
    }
    .main-icon {
        width: 7vw !important;
        height: 7vw !important;
    }
}

.main-container div {
    text-align: center;
}
.container-var {
    background-color: rgb(218, 218, 218);
}

.container-fluid {
    padding-bottom: 2vw;
}

.img-fluid{
    margin-bottom: 2vw;
}

.section-title {
    font-size: calc(60% + 1vw + 1vh);
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.subsection-title {
    font-size: calc(40% + 1vw + 1vh);
    padding-bottom: 2vw;
    font-weight: bold;
}

.about-span span {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: calc(8% + 1vw + 1vh);
}

@media (min-width: 992px) {
    .section-title {
        font-size: 26px;
    }
    
    .subsection-title {
        font-size: 24px;
    }
    .about-span span {
        font-size: 18px;
    }
}

.about-span {
    padding-bottom: 5vw;
}

.fa {
    padding: 6px;
    font-size: 20px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 2px 1px;
    // display: block;
}
  
.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-envelope {
    background: #011627;
    color: white;
}

.fa-github {
    background: #011627;
    color: white;
}

.fa-file-pdf-o {
    background: black;
    color: white;
    font-size: 20px;
    padding: 6px;
    width: auto;
    // display: block;
}